body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

.header-top {
 margin-top: 10px !important;
}

.ui.form .fields{
  flex-direction: column !important;
  width: 75% !important;
}

label {
  margin: 5px !important;
}

.profile-page{
  width: 100% !important;
}

.vet-div {
  max-width: 500px !important;
  margin: 0px !important;
}

.vet-text {
  font-size: 12px !important;
  margin-bottom: 2px !important;
}

.vet-h2 {
  font-weight: normal !important;
}

.vet-notes-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.vet-note-nav-btns {
  width: 150px !important;
  margin: 5px !important;
}

.vet-form-btn-grp{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
}

.vet-form-nav-btns {
  width: 100px !important;
  margin: 5px !important;
}

.profile-btn {
  margin-top: 20px !important;
}

.single-vet-page {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  text-align: center;
}

.single-vet-card {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  padding: 20px !important;
  line-height: 1em !important;
}

.note-div {
  line-height: 1em !important;
}

.single-btn-group {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
}

.column-btn-grp {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.note-render {
  list-style-type: none !important;
  border-style:groove !important;
  padding: 10px !important;
  margin: 10px !important;
  box-shadow: darkgray;
  margin: 8px !important;
  font-family:Arial, Helvetica, sans-serif;
}

.note-card-container {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  flex-direction: column !important;
  padding: 0px !important;
  text-align: center;
}

.bottom-sig {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px !important;
  gap: 5px;
  margin: 0px !important;
}

footer {
  height: 30px !important;
}

.dog-logo {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: 16px !important;
}

.hero {
  background-image: url("https://user-images.githubusercontent.com/110498167/217146868-44a02b2c-c3d0-4c65-95c5-c5272de1fa35.jpg") !important;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.dogter-banner {
  margin-top: 10px;
  height: 50px !important;
  min-width: 900px !important;
}

.single-profile {
  padding: 20px !important;
  margin: 10px !important;
}

.add-profile-btn {
  margin-top: 10px !important;
}

.profile-update-heading {
  text-align: center;
}

.update-profile-card {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  flex-direction: column !important;
  padding: 10px !important;
  text-align: center;
}

.profile-input {
  min-width: 250px !important;
}

.form-group {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.edit-profile-btn-grp {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
}

.habit-row {
  margin-top: 10px;
}

.habit-header {
  margin-top: 10px !important;
}

.upload-grp {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

#fileInput {
  margin-left: 17%!important;
  margin-bottom: 10px !important;
}

.login-input {
  max-width: 500px !important;
  margin: 0px !important;
}

.tips-text {
  max-width: 400px !important;
  margin-top: 15px !important;
}

.health-cards {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;


}
/* --------------------------------- */
@media (max-width: 600px) {
  footer {
    display: none !important;
  }
}